#Análisis EDA Adidas

##Perspectiva del Análisis: marketing y creación de estrategia de crecimiento. Este EDA se centra en la perspectiva de marketing para identificar oportunidades de crecimiento.

In [1]:
#Paso 1: importar librerias 
import seaborn as sns
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import warnings

warnings.filterwarnings('ignore')
sns.set_style("whitegrid")
%matplotlib inline
plt.rcParams['figure.figsize'] = (6, 4)

In [2]:
#Paso 2: Descargar datos desde Kaggle
import kagglehub

# Download latest version
path = kagglehub.dataset_download("davidmashishi/adidas-shoes-sales")

print("Path to dataset files:", path)

Path to dataset files: /Users/maribelgutierrezramirez/.cache/kagglehub/datasets/davidmashishi/adidas-shoes-sales/versions/1

In [ ]:
#Paso 3 Explorar datos: Llamar el encabezado de la tabla

# Verificar los archivos disponibles en el directorio
print("Archivos en el directorio:", os.listdir(path))

# Cargar el archivo CSV usando el nombre correcto
# Reemplaza 'adidas_sales.csv' por el nombre correcto si es diferente
csv_files = [f for f in os.listdir(path) if f.endswith('.csv')]
if csv_files:
	data = pd.read_csv(os.path.join(path, csv_files[0]))
	display(data.head())
else:
	print("csv No encontrado")

Archivos en el directorio: ['Adidas Shoe Sales.csv']

,Retailer,Retailer_ID,Invoice_Date,Region,State,City,Product,Price_per_Unit,Unit_Sold,Total_Sales,Operating_Profit,Sales_Method
0,Sports Direct,1197831,8/25/2021,South,Alabama,Birmingham,Men Street Footwear,$10.00,700,"7,000","$3,150",Outlet
1,West Gear,1185732,9/12/2021,West,Utah,Salt Lake City,Women Street Footwear,$10.00,350,"3,500","$1,225",In-store
2,Walmart,1197831,3/19/2021,South,Arkansas,Little Rock,Women Street Footwear,$10.00,350,"3,500","$1,400",Online
3,West Gear,1185732,9/12/2021,West,Utah,Salt Lake City,Women Athletic Footwear,$10.00,325,"3,250","$1,300",In-store
4,West Gear,1197831,3/19/2021,South,Oklahoma,Oklahoma City,Women Street Footwear,$10.00,275,"2,750","$1,100",Online